Package: poormanscatalog
Version: 1.2.1
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Sinan Islekdemir <sinan@islekdemir.com>
Installed-Size: 336
Homepage: https://github.com/sinanislekdemir/poorman
Depends: libc6 (>= 2.29), libgcc-s1, libstdc++6, libqt5core5a (>= 5.12.2), libqt5gui5 (>= 5.12.2) | libqt5gui5-gles (>= 5.12.2), libqt5widgets5 (>= 5.12.2), libqt5sql5 (>= 5.12.2), libqt5sql5-sqlite (>= 5.12.2)
Description: Disk and path catalog creator
 Poor Man's Catalog creates searchable indexes (catalogs) of disks, external
 drives, DVDs and flash drives. Catalogs are stored in SQLite databases, so you
 can keep a separate database per disk and search through it later without
 plugging the disk back in.
